body {
  background: #4b4843;
  font-family: "微软雅黑", sans-serif;
  color: #666;
}

.sense {
  width: 600px;
  height: 600px;
  margin: 50px auto;
  position: relative;
  box-shadow: -10px 10px 15px black;
  background: #8d6d45;
  border: 2px solid black;
}

.sense .block {
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
  border-radius: 50%;
  position: relative;
  z-index: 8884;
}

.sense .row, .sense .col {
  background: #4d392b;
  position: absolute;
}

.sense .row {
  width: 100%;
  height: 1px;
  left: 0;
}

.sense .col {
  width: 1px;
  height: 100%;
  top: 0;
}

.white {
  background: #ffffff;
}

.black {
  background: #2c1d1b;
}

